/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .navbar .navbar-default {
 	background:#d9edf7; 
 }

 .example1 {
			height: 50px;	
			overflow: hidden;
			position: relative;
		}
		.example1 h3 {
			position: absolute;
			width: 100%;
			height: 100%;
			margin: 0;
			line-height: 50px;
			text-align: center;
			/* Starting position */
			-moz-transform:translateX(100%);
			-webkit-transform:translateX(100%);	
			transform:translateX(100%);
			/* Apply animation to this element */	
			-moz-animation: example1 15s linear infinite;
			-webkit-animation: example1 15s linear infinite;
			animation: example1 15s linear infinite;
		}
		/* Move it (define the animation) */
		@-moz-keyframes example1 {
			0%   { -moz-transform: translateX(100%); }
			100% { -moz-transform: translateX(-100%); }
		}
		@-webkit-keyframes example1 {
			0%   { -webkit-transform: translateX(100%); }
			100% { -webkit-transform: translateX(-100%); }
		}
		@keyframes example1 {
			0%   { 
				-moz-transform: translateX(100%); /* Firefox bug fix */
				-webkit-transform: translateX(100%); /* Firefox bug fix */
				transform: translateX(100%); 		
			}
			100% { 
				-moz-transform: translateX(-100%); /* Firefox bug fix */
				-webkit-transform: translateX(-100%); /* Firefox bug fix */
				transform: translateX(-100%); 
			}
		}

