// Place all the styles related to the children controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	display:  block;
}

nav h1 {
	text-align: center;
}

.wrapper{
	width: 60%;
	margin: auto;
}

#my_camera video{
	background:#f8f8f8;
	border: 2px solid #A9A9A9;
	border-radius: 5px;
}
 
#my_photo .photo_wrapper{
	width:400px;
	height: 400px;
	background:#f8f8f8;
	border: 2px solid #c;
	border-radius: 5px;
	padding: 47px 0;
}

#base64image{
	height: 295px;
	width: 396px;
}

#map {
	border: solid 2px #A9A9A9;
	margin: auto;
	margin-bottom: 10px;
	height: 400px;
	width: 90%;
}